<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thaydion.IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logoAT.png') }}" alt="Thaydion.IA" class="logo">
        <h1>Bem-vindo à Thaydion.IA</h1>
        <nav>
            <ul>
                <li><a href="#historia">Nossa História</a></li>
                <li><a href="#produtos">Nossos Produtos</a></li>
            </ul>
        </nav>
    </header>

    <!-- Hero Section -->
    <section id="hero" class="hero-section">
        <h2>Conheça a Equipe Thaydion.IA</h2>
        <div class="hero-images">
            <img src="{{ url_for('static', filename='images/D1.png') }}" alt="Dono 1" class="hero-image" onclick="openModal('modal1')">
            <img src="{{ url_for('static', filename='images/D2.png') }}" alt="Dono 2" class="hero-image" onclick="openModal('modal2')">
            <img src="{{ url_for('static', filename='images/D3.png') }}" alt="Dono 3" class="hero-image" onclick="openModal('modal3')">
            <img src="{{ url_for('static', filename='images/D4.png') }}" alt="Dono 4" class="hero-image" onclick="openModal('modal4')">
        </div>
        <p class="hero-text">Somos uma equipe dedicada e apaixonada por tecnologia, prontos para revolucionar o mercado local.</p>
    </section>

    <!-- Modais para cada dono -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal1')">&times;</span>
            <h2>CEO - José Tayllan P. Almeida</h2>
            <p>Especialidades: C#, PHP, Python, SQL, Gestão de Projetos.</p>
            <p>Experiência: Softwares para console e web. Experiência não é relevante, focando em resultados.</p>
            <p>Conquistas: Liderou o desenvolvimento de um sistema EAD com Node.js e TypeScript. Desenvolvimento de um sistema de extração e registro de guias do Ipasgo em C#.</p>
            <p>Curiosidades: Apaixonado pelo desenvolvimento de soluções tecnológicas, atento às tendências tecnológicas como redes neurais, automação de processos e desenvolvimento ágil (Scrum, Kanban).</p>
            <p>Formação: Cursando o ensino superior em GTI (Gestão em Tecnologia da Informação) pela FPM (Faculdade da Polícia Militar).</p>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal2')">&times;</span>
            <h2>Diogo Alves Nogueira</h2>
            <p>Especialidade:  C#, Python, SQL, PHP.</p>
            <p>Experiência: Experiência como Desenvolvedor de Software.</p>
            <p>Conquista: Participou do desenvolvimento de um Sistema EAD com Node.js e TypeScript. Desenvolveu um sistema de extração e registro de guias do Ipasgo em C#.</p>
            <p>Curiosidades: A curiosidade por tecnologia é um dos principais motores do meu desenvolvimento pessoal e profissional. Estou sempre atento às últimas tendências e inovações, procurando entender como funcionam e como podem ser aplicadas para resolver problemas reais.
            </p>
            <p>Formação: Cursando o ensino superior em GTI (Gestão em Tecnologia da Informação) pela Faculdade da Polícia Militar.</p>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal3')">&times;</span>
            <h2>Pedro Henrique Cândido Azevêdo</h2>
            <p>Especialidades: PHP, C#, JavaScript, Python, MySQL.</p> 
            <p>Experiência: Estagiário na Assembleia Legislativa de Goiás, EAD System, HPM Dentistry e desenvolvimento de sites estáticos.</p>
            <p>Conquistas: Contribuiu para o desenvolvimento de um software para cursos EAD.</p> 
            <p>Curiosidades: Ministrou aulas de lógica de programação.</p>
            <p>Formação: Gestão da Tecnologia da Informação</p>
        </div>
    </div>

    <div id="modal4" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal4')">&times;</span>
            <h2>Gabriel Felipe Montello Pereira</h2>
            <p>Especialidades:Automação de sistemasDesenvolvimento de soluções personalizadas para otimização de processosProgramação em linguagens como JavaScript e C#Desenvolvimento de aplicativos móveis e web</p>
            <p>Experiência: Possuo sólida experiência no desenvolvimento de sites e automação de sistemas utilizando JavaScript, além de atuar no desenvolvimento de aplicativos móveis em C#. Ao longo da minha trajetória, tive a oportunidade de participar de projetos que visavam melhorar a eficiência operacional por meio de soluções tecnológicas sob medida, integrando diferentes ferramentas e metodologias para garantir os melhores resultados.</p>
            <p>Conquistas:Implementação bem-sucedida de um sistema de automação para uma pequena empresa, que resultou em uma economia de tempo e aumento da produtividade em 25%.Desenvolvimento de um aplicativo de gerenciamento de tarefas em C#, que foi integrado com outras plataformas e tecnologias, proporcionando maior flexibilidade para os usuários.</p>
            <p>Curiosidades: Tenho uma curiosidade contínua em explorar novas linguagens de programação e metodologias de desenvolvimento de sistemas. Recentemente, comecei a estudar Python para análise de dados e Inteligência Artificial, e tenho me dedicado a entender melhor as práticas de DevOps para integração contínua e entrega automatizada. Sou um entusiasta da inovação e sempre busco maneiras de aprender novas técnicas e aplicá-las em projetos práticos.</p>
            <p>Formação: Atualmente cursando Tecnologia da Informação, onde tenho aprofundado meu conhecimento em redes de computadores, segurança cibernética, bancos de dados, e programação. Além disso, tenho realizado cursos complementares focados em desenvolvimento web, automação de processos e metodologias ágeis (Scrum e Kanban).</p>
        </div>
    </div>

    <section id="historia" class="content-section">
        <h2>Nossa História</h2>
        <p>Somos um grupo de desenvolvedores apaixonados por tecnologia...</p>
    </section>

    <section id="produtos" class="content-section">
        <h2>Nossos Produtos</h2>
        <div class="product-list">
            <div class="product-item">Produto 1</div>
            <div class="product-item">Produto 2</div>
            <div class="product-item">Produto 3</div>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>© 2024 Thaydion.IA. Todos os direitos reservados.</p>
            <p>Siga-nos nas redes sociais:</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/thaydion.ia/"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/thaydionIA"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </footer>

    <!-- Incluindo o JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
